<div class="searchBox">
  <i class="material-icons" ripple>
    search
  </i>
  <input type="text" placeholder="Pesquisar" class="typo-caption">
</div>

<div class="contactList">
  <h3 class="typo-subtitle1">Contatos</h3>
  <ng-container *ngFor="let contact of contactList; index as i">
    <div class="contact" (click)="toggleInfo(contactContainer, i)" ripple>
      <img [src]="contact.imagem" alt="Avatar" class="contactAvatar avatar raized">
      <span class="typo-h6">{{contact.nome}}</span>
    </div>
  </ng-container>


</div>

<div class="floatInfo raized" [ngStyle]="{'transform' : floatInfo ? 'translateX(0%)' : 'translateX(-100%)'}">
  <i class="material-icons toggle" (click)="toggleInfo()" ripple>
    close
  </i>

  <img [src]="sanitizeURL(openContact['imagem'])" alt="avatar" class="BigAvatar raized">
  <h2 class="typo-h4">{{openContact["nome"]}}</h2>
  <h4 class="typo-subtitle2">Ultimo acesso: {{openContact["ultimoAcesso"] | date:'short' }}</h4>
</div>