<header id="toolbar" ripple>
  


<div class="aplication-title">
    <h1 class="typo-h2">Bem Vindo</h1>
    <h2 class="typo-subtitle1">ChatCry<span class="removible"> 1.0 - Conectando As Pessoas</span></h2>
  </div>
</header>

<section id="login-container" class="raized">
  <talk [message]='newMessage' (loginEvent)="login()"></talk>
  <type-bar [type]='inputType' (message)='receivedMessage($event)'></type-bar>
</section>

<div id="promp-container" #prompcontainer>
  <div class="promp-card raized">
    <h1 class="typo-h6">Envie uma foto</h1>
    <h4 class="typo-subtitle1">
      Selecionar uma imagem do seu computador:
    </h4>
    <img src="" alt="Avatar" #avatar id="avatar">
    <div class="button-container">
      <button class="typo-button text-button warn" (click)="restart()" ripple>Recomeçar</button>
      <div>
        <input type="file" class="none" name="avatar" accept="image/png, image/jpeg" (change)="avatarLoaded(input)" multiple="false" #input>

        <button class="typo-button text-button accent" (click)="uploadAvatar()" ripple>Selecionar</button>
        <button class="typo-button text-button primary" id="confirmar" (click)="confirmAvatar()" ripple>Confirmar</button>
      </div>
    </div>
  </div>
</div>