<header id="tabs-header" #header (window:resize)="resize()">
  <div id="header-labs">
    <div class="menuItem " (mouseover)="mouseover(0)" (mouseout)="mouseout()" (click)="select(0)" ripple #menuIt>

      <i class="material-icons">
        question_answer
      </i>
      <h3 class="typo-subtitle2">Conversas</h3>
    </div>

    <div class="menuItem " (mouseover)="mouseover(1)" (mouseout)="mouseout()" (click)="select(1)" ripple>

      <i class="material-icons">
        contacts
      </i>
      <h3 class="typo-subtitle2">Contatos</h3>
    </div>

    <div class="menuItem " (mouseover)="mouseover(2)" (mouseout)="mouseout()" (click)="select(2)" ripple>

      <i class="material-icons">
        group
      </i>
      <h3 class="typo-subtitle2">Grupos</h3>
    </div>
  </div>

  <div id="indicator-wrapper">
    <div id="indicator"></div>
  </div>
</header>
<div class="tab-container-wrapper">

  <i class="material-icons toggle menu" (click)="menutoggle()" ripple>
    menu
  </i>

  <section id="tabs-container" [ngClass]="{
    'anamitaion-forward': animating && forward, 
    'anamitaion-backward': animating && !forward
  }" #container>

    <div class="tab-content">
      Content 1
    </div>
    <div class="tab-content" [ngStyle]="{'overflow-y' : floatInfo ? 'hidden' : 'auto'}" #contactContainer>
      <contacts [contactList]="contactList"></contacts>
    </div>
    <div class="tab-content">
      Content 3
    </div>
  </section>
</div>