@import '../../../../assets/styles/typography.scss';
@import'../../../../assets/styles/colors.scss';

.talk-container { overflow: auto; height: 100%; width: 100%; box-sizing: border-box; padding: 60px 14px; }

.dialoge { 
    border-radius: 5px;
    max-width: 65%;
    box-sizing: border-box;
    padding: 14px;
    color: $light-text;
    display: inline-flex;
    white-space: pre-wrap;
    word-break: break-word;    
}
.dialoge P { margin: auto; }

.self-dialoge {     
    background-color: #2196F3;
    margin: 2px 0 2px auto;
}

.other-dialoge {     
    background-color: #4DD0E1;
    margin: 2px 10px 2px 0;
}

.other-dialoge-spacing { margin-left: 70px !important; }

.dialoge-row { display: flex; }

.botAvatar { border-radius: 50%; height: 60px; margin: 5px 10px 0 0;}

#button-login { margin-left: 5px; }

@media screen and (max-width: 800px){
    .talk-container {padding-top: 0;}
}
@media screen and (max-width: 480px){
    .botAvatar { height: 35px; margin: 5px 10px 0 0;}
    .other-dialoge-spacing { margin-left: 45px !important; }
    
        .dialoge{ max-width: 90%; }
}