<div class="contactList">
    <h3 class="typo-subtitle1">Conversas</h3>
    <div *ngFor="let chat of chatList | filterContacts: filter ; index as i" class="contactWrapper">
      <div class="contact" [ngClass]="{active: activeChat === chat.nome}" (click)="startChat(chat)" ripple>
        <img [src]="chat.imagem | urlPipe" alt="Avatar" class="chatAvatar avatar raized" (click)="emitInfo(chat, $event)" ripple>
        <span>
            <div class="typo-h6">{{chat.nome}}</div>
            <div class="typo-subtitle1">{{chat.ultimoAcesso | date:'short'}}</div>
        </span>
      </div>
      <span class="submenu" tabindex="0" (blur)="toggleMenu(menu, more)" (focus)="rotateMore(more, 360); toggleMenu(menu)">
          <i class="material-icons" (click)="rotateMore(more, 360); toggleMenu(menu)" #more ripple> 
            more_vert
          </i>
        <div class="menuHidden raized typo-subtitle1" #menu>
          <ul>
            <li (click)="remove(chat)" ripple>Deletar</li>
            <li (click)="startChat(chat)" ripple>Mensagem</li>
          </ul>
        </div>
      </span> 
    </div>
</div>