<div id="main-container" (window:resize)="resize()">
  <div class="menu-wrapper" [ngStyle]="{'transform': hideMenu ? 'translateX(calc(-100% - 10px))' : 'translateX(0%)'}">
    <div id="sidebar">
      <img src="" alt="Avatar" class="userAvatar avatar raized" #selfAvatar>
      <div class="menuItem " (click)="quit()" ripple>
          <i class="material-icons">
            exit_to_app
          </i>
          <h3 class="typo-subtitle2">Sair</h3>
      </div>
    </div>

    <div class="tabs-inner">
      <tabs [contactList]='contactList' (menuToggle)="menuToggle($event)" (chat)="startChat($event)"></tabs>
    </div>
  </div>
  <section id="chat-container">
    <div class="toolbar raized typo-h6"> 
      
      ChatCry
      <i class="material-icons toggle menu" (click)="menuToggle(false)" ripple>
        menu
      </i>

    </div>
    <talk [message]='newMessage' [messages]='newChat'></talk>
    <type-bar  (message)='receivedMessage($event)'></type-bar>
  </section>

</div>