<div id="main-container">
  <div class="menu-wrapper">
    <div id="sidebar">
      <img src="" alt="Avatar" class="userAvatar raized" #selfAvatar>
      <div class="menuItem " (click)="quit()" ripple>
          <i class="material-icons">
            exit_to_app
          </i>
          <h3 class="typo-subtitle2">Sair</h3>
      </div>
    </div>

    <div class="tabs-inner">
      <tabs></tabs>
    </div>
  </div>
  <section id="chat-container">
      <talk [message]='newMessage'></talk>
      <type-bar  (message)='receivedMessage($event)'></type-bar>
  </section>

</div>