/* You can add global styles to this file, and also import other style files */
@import './assets/styles/typography.scss';
@import'./assets/styles/colors.scss';
@import './app/components/shared/ripple/ripple.scss';

*{top: 0; left: 0; position: static; margin: 0; padding: 0;}

.none { display: none; }

.raized { box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); }

/*BUTTONS */
.warn { color: $warn; }

.accent { color: $secondary-dark; }

.primary { color: $primary-dark; }

.contained-button { color: $light-text; padding: 12px; border-radius: 2px; }
.contained-button.primary { background-color: $primary-dark; }

button { background-color: transparent; border: none; cursor: pointer;}
.text-button { padding: 12px; }

#toolbar { background-color: #34afff; width: 100vw; position: fixed; height: 260px; z-index: -1;}

.aplication-title { text-align: center; color: $light-text; position: fixed; width: 100vw; z-index: 3;}

#sidebar { background-color: $primary-dark; }



.menuItem { text-align: center; cursor: pointer; color: $light-text; }

.menuItem i { font-size: 38px; }

.menuItem h3 { margin-top: -5px; }

.menuItem:last-child { margin: auto 0 10px 0; }; 

.avatar { width: 50px; height: 50px; border-radius: 50%;}

.userAvatar { margin: 20px auto; }

.toggle { position: absolute; top: 5px; right: 5px; left: auto; cursor: pointer; z-index: 1; border-radius: 3px;}
.menu { position: fixed; background-color: rgba(255, 255, 255, 0.5); }

@media screen and (max-width: 1199px){

}

@media screen and (max-width: 800px){
}

@media screen and (max-width: 480px){
    #toolbar{ height: 8vh; z-index: 2; box-shadow: 0px 3px 6px rgba(0,0,0,0.16); }

    .aplication-title h1 { display: none; }
    .aplication-title h2 { font-size: 34px; font-weight: 500; margin-top: 3px;}
    
    .menuItem h3 { display: none; }
    
    .removible{ display: none;}
}