/* You can add global styles to this file, and also import other style files */
@import './assets/styles/typography.scss';
@import'./assets/styles/colors.scss';
@import './app/components/shared/ripple/ripple.scss';

*{top: 0; left: 0; position: static; margin: 0; padding: 0;}

.none { display: none; }

.raized { box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); }

div .active {background-color: $secondary; color: $light-text;}

/*BUTTONS */
.warn { color: $warn; }

.accent { color: $secondary-dark; }

.primary { color: $primary-dark; }

.contained-button { color: $light-text; padding: 12px; border-radius: 2px; }
.contained-button.primary { background-color: $primary-dark; }

button { background-color: transparent; border: none; cursor: pointer;}
.text-button { padding: 12px; }

#toolbar { background-color: #34afff; width: 100vw; position: fixed; height: 260px; z-index: -1;}

.aplication-title { text-align: center; color: $light-text; position: fixed; width: 100vw; z-index: 3;}

#sidebar { background-color: $primary-dark; }

/*Estilo do conteudo da tab -----------------------------------------------------------------------------------------*/

.menuItem { text-align: center; cursor: pointer; color: $light-text; }

.menuItem i { font-size: 38px; }

.menuItem h3 { margin-top: -5px; }

.menuItem:last-child { margin: auto 0 10px 0; }; 

.avatar { width: 50px; height: 50px; border-radius: 50%; object-fit: cover; }

.userAvatar { margin: 20px auto; }

.toggle { position: absolute; top: 2px; left: 2px; cursor: pointer; z-index: 1; border-radius: 3px;}
.menu { position: fixed; background-color: rgba(255, 255, 255, 0.5); }
.close { left: auto; right: 2px; color: $dark-text!important;}


.searchBox { position: relative; width: calc(100% - 20px); margin: 20px auto; }

.searchBox input{
    height: 30px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 6px 0 6px 40px;
    border-radius: 3px; 
    color: #898989;
}

.searchBox i {position: absolute; top: 6px; left: 6px; top: 3px; left: 3px; color: $dark-text; cursor: pointer;}

.contact {
    display: flex; 
    flex-direction: row;
    padding: 10px; 
    transition: .5s color cubic-bezier(0.4, 0.0, 0.2, 1), 
                .5s background-color cubic-bezier(0.4, 0.0, 0.2, 1); cursor: pointer;
}

.contact span { margin-left: 10px;}
.contact:hover { background-color: rgba(33, 149, 242, 0.71); color: $light-text;}

.floatInfo {
    background-color: #EEEEEE;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: .5s transform cubic-bezier(0.4, 0.0, 0.2, 1);
    z-index: 3;
    text-align: center;
}
.floatInfo h4 {margin-top: 30px;}

.BigAvatar { height: 120px; border-radius: 120px; margin-top: 20px; width: 120px; object-fit: cover; }

::-webkit-input-placeholder {
    color: #c6c6c6;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #c6c6c6;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #c6c6c6;  
 }
 
 :-ms-input-placeholder {  
    color: #c6c6c6;  
 }

/*Estilo do conteudo da tab -----------------------------------------------------------------------------------------*/
@media screen and (max-width: 1199px){

}

@media screen and (max-width: 800px){
    .userAvatar { margin-top: 30px; }
}

@media screen and (max-width: 480px){
    #toolbar{ height: 8vh; z-index: 2; box-shadow: 0px 3px 6px rgba(0,0,0,0.16); }

    .aplication-title h1 { display: none; }
    .aplication-title h2 { font-size: 34px; font-weight: 500; margin-top: 3px;}
    
    .menuItem h3 { display: none; }
    
    .removible{ display: none;}
}